// =============================================================================
// _responsive.scss : Viewports
// MIT License
// =============================================================================

// =============================================================================
// _responsive.scss settings
// =============================================================================

$tablet: 768px;
$desktop: 992px;
$large: 1200px;

@mixin mobile-max {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-min {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin large-min {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin large-max {
  @media only screen and (max-width: $large) {
    @content;
  }
}