@import "../../index.scss";

.challenges-title {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}
.current {
    display: flex;
    width: 80%;
    margin: auto;
    border: solid 2px $color-primary;
    border-radius: 16px;
    margin-bottom: 2%;

    &__time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        border-radius: 16px;
        background-color: $color-primary;
        color: $color-white;

        .accent {
            color: $color-accent;
            font-weight: $weight-bold;
            font-size: 1.5rem;
        }

        &-diference {
            font-weight: $weight-extraBold;
            font-size: 4rem;
            position: absolute;
        }
    }

    &__info {
        margin: 3% 5%;

        &-level {
            color: rgba( $color-primary, .6 );
            text-transform: uppercase;
        }
    }
}

.challenges-container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 2%;
    margin-bottom: 100px;
}

.challenge-card {
    border: 2px solid $color-primary;
    border-radius: 16px;
    padding: $spacers-container-l $spacers-xxl;
    font-weight: $weight-bold;
    
    h3 {
        color: rgba( $color-primary, .6 );
    }

    h4 {
        color: $color-primary;
        font-weight: $weight-regular;
    }

    &__level {
        color: rgba( $color-primary, .6 );
        text-transform: uppercase; 
    }
}

